nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
}

.logo img {
  width: 100px;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-links li {
  list-style: none;
  margin: 0 10px;
}

.nav-links li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 16px;
}
.active {
    color: #d32f2f !important;
  }

.nav-links li a:hover {
  color: #007bff;
}
